* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #293264;
  --selected: #D6DBF5;
  --background: #F5F7FB;
  --background-correct: #94D7A2;
  --background-wrong: #F8BCBC;
  font-family: 'Inter', sans-serif;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 90%;
  min-width: 600px;
  padding: 1em 2em;
}

.option {
  padding: .625em .75em;
  background-color: var(--background);
  color: var(--text);
  flex-shrink: 0;
  margin-right: 1em;
  border: 1px solid var(--text);
  font-weight: 500;
  font-size: .75rem;
}

.selected {
  background-color:  var(--selected);
  border: 2px solid var(--text);
  font-weight: 600;
}

.wrong {
  background-color: var(--background-wrong);
  opacity: .5;
}

.correct {
  background-color: var(--background-correct);
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: #4D5B9E;
  color: #F5F7FB;
  font-weight: 600;
  padding: .875em 1em;

  border: none;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #DBDEF0;
}

section {
  margin-top: .5em;
  display: flex;
  flex-wrap: wrap;
  gap: .3em;
}

button {
  border-radius: .875rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}